# app config
## database config
POSTGRES_SERVICE=db
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVICE}:${POSTGRES_PORT}/${POSTGRES_DB}

## minio config
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password

MAX_UPLOAD_SIZE=5242880

## s3 / object storage config
S3_ENDPOINT=storage_enpdoint
S3_ACCESS_KEY=storage_access_key
S3_SECRET_KEY=storage_secret_key
S3_BUCKET=bucket_name
S3_REGION=region_name
