# app config
## database config
POSTGRES_SERVICE=db
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVICE}:${POSTGRES_PORT}/${POSTGRES_DB}

## minio config
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password

UPLOAD_DIR=uploads

MAX_UPLOAD_SIZE=5242880
